/* table,th,td{
  border: 2px solid pink
} */
table{
  /* border-collapse: collapse; */
  width: 100%;
  /* border-spacing: 20px; */
  /* empty-cells: show; */
  /* empty-cells: hide; */
  /* caption-side: bottom; */
}
th{
  /* height: 40px */
}
td{
  /* text-align: center; */
  /* height: 100px; */
  /* vertical-align:bottom; */
}
td,th{
  padding: 20px;
  text-align: left;
  border-bottom:  2px solid #ddd;
}
tr:hover{
  background-color: #ffa6c0;
}
